.section-images {
    padding-top: 2.313rem;
    padding-bottom: 6.125rem;

    h2 {
        font-family: $font-montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 1.25em;
        line-height: 1.5em;
        color: $color-grey-01;
        margin-bottom: 0.438rem;
    }

    h3 {
        font-family: $font-montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 0.875em;
        line-height: 1.0625em;
        color: $color-grey-02;
        margin: 0;
    }

    .row:nth-child(2) {
        margin-top: 6.25rem;

        h2 {
            font-family: $font-montserrat;
            font-style: normal;
            font-weight: 700;
            font-size: 2.25em;
            line-height: 1.4375em;
            color: $color-black-02;
            margin-bottom: 0;
        }
    }
    
    .row:nth-child(3) {
        margin-top: 4.375rem;
    }
}