svg(width='25' height='24' viewbox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(d='M7.67358 3C4.91258 3 2.67358 5.216 2.67358 7.95C2.67358 10.157 3.54858 15.395 12.1616 20.69C12.3159 20.7839 12.493 20.8335 12.6736 20.8335C12.8542 20.8335 13.0313 20.7839 13.1856 20.69C21.7986 15.395 22.6736 10.157 22.6736 7.95C22.6736 5.216 20.4346 3 17.6736 3C14.9126 3 12.6736 6 12.6736 6C12.6736 6 10.4346 3 7.67358 3Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')

