svg(width='32' height='35' viewbox='0 0 32 35' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(d='M29.5566 6.05826L17.1816 0.745756C16.8047 0.584641 16.4006 0.501709 15.9925 0.501709C15.5844 0.501709 15.1803 0.584641 14.8033 0.745756L2.42832 6.05826C1.27461 6.54966 0.520508 7.71177 0.520508 9.00005C0.520508 22.1817 7.90039 31.2926 14.7969 34.2543C15.5574 34.5797 16.4146 34.5797 17.1752 34.2543C22.6988 31.8836 31.458 23.6958 31.458 9.00005C31.458 7.71177 30.7039 6.54966 29.5566 6.05826ZM15.9957 30.1372L15.9893 4.83638L27.3266 9.70396C27.1139 19.7579 22.035 27.0426 15.9957 30.1372Z' fill='#2B2B2B')

