svg(width='25' height='24' viewbox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
  g(clip-path='url(#clip0_21_917)')
    path(d='M9.5603 21.3333C10.3887 21.3333 11.0603 20.6617 11.0603 19.8333C11.0603 19.0048 10.3887 18.3333 9.5603 18.3333C8.73188 18.3333 8.0603 19.0048 8.0603 19.8333C8.0603 20.6617 8.73188 21.3333 9.5603 21.3333Z' fill='black')
    path(d='M18.6736 21.3333C19.502 21.3333 20.1736 20.6617 20.1736 19.8333C20.1736 19.0048 19.502 18.3333 18.6736 18.3333C17.8452 18.3333 17.1736 19.0048 17.1736 19.8333C17.1736 20.6617 17.8452 21.3333 18.6736 21.3333Z' fill='black')
    path(d='M15.7202 4.66659C15.6898 4.44565 15.6742 4.22293 15.6735 3.99992C15.6742 3.77691 15.6898 3.55419 15.7202 3.33325H8.3335L8.76683 4.66659H15.7202Z' fill='black')
    path(d='M20.6737 8.99991H20.3937L19.5603 12.6666H9.56032L6.51366 3.01991C6.4807 2.91755 6.42348 2.82468 6.34686 2.74922C6.27024 2.67377 6.17651 2.61796 6.07366 2.58658L3.34032 1.74658C3.25628 1.72075 3.16797 1.71173 3.08044 1.72003C2.9929 1.72833 2.90787 1.7538 2.83017 1.79496C2.67327 1.87811 2.55582 2.02017 2.50366 2.18991C2.4515 2.35965 2.4689 2.54316 2.55204 2.70006C2.63519 2.85697 2.77725 2.97442 2.94699 3.02658L5.34032 3.75991L8.40032 13.4266L7.30699 14.3199L7.22032 14.4066C6.94988 14.7182 6.79659 15.1145 6.78686 15.527C6.77712 15.9395 6.91155 16.3425 7.16699 16.6666C7.3487 16.8875 7.5796 17.0629 7.84122 17.1787C8.10284 17.2945 8.38792 17.3474 8.67366 17.3332H19.8003C19.9771 17.3332 20.1467 17.263 20.2717 17.138C20.3968 17.013 20.467 16.8434 20.467 16.6666C20.467 16.4898 20.3968 16.3202 20.2717 16.1952C20.1467 16.0701 19.9771 15.9999 19.8003 15.9999H8.56699C8.49022 15.9973 8.41543 15.9749 8.34983 15.9349C8.28423 15.895 8.23005 15.8388 8.19252 15.7717C8.15499 15.7047 8.13538 15.6292 8.13558 15.5523C8.13577 15.4755 8.15578 15.4001 8.19366 15.3332L9.80032 13.9999H20.0937C20.2478 14.0037 20.3984 13.9539 20.52 13.8591C20.6415 13.7643 20.7265 13.6303 20.7603 13.4799L21.807 8.87324C21.4353 8.95849 21.055 9.00099 20.6737 8.99991Z' fill='black')
    path(d='M20.6737 7.33341C22.5146 7.33341 24.007 5.84103 24.007 4.00008C24.007 2.15913 22.5146 0.666748 20.6737 0.666748C18.8327 0.666748 17.3403 2.15913 17.3403 4.00008C17.3403 5.84103 18.8327 7.33341 20.6737 7.33341Z' fill='#F31B2E')
  defs
    clippath#clip0_21_917
      rect(width='24' height='24' fill='white' transform='translate(0.673584)')

