svg(width='66' height='12' viewbox='0 0 66 12' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(d='M19.3449 0L20.6223 4.12803L24.7561 4.12803L21.4118 6.67929L22.6892 10.8073L19.3449 8.25606L16.0006 10.8073L17.278 6.67929L13.9337 4.12803L18.0675 4.12803L19.3449 0Z' fill='#74B6C7')
  path(d='M33.0002 0L34.3433 4.12918H38.6899L35.1735 6.68116L36.5166 10.8103L33.0002 8.25837L29.4838 10.8103L30.8269 6.68116L27.3105 4.12918H31.6571L33.0002 0Z' fill='#74B6C7')
  path(d='M5.68965 0L6.96706 4.12803L11.1008 4.12803L7.75654 6.67929L9.03395 10.8073L5.68965 8.25606L2.34536 10.8073L3.62277 6.67929L0.278471 4.12803L4.41225 4.12803L5.68965 0Z' fill='#74B6C7')
  path(d='M46.655 0L47.9324 4.12803L52.0662 4.12803L48.7219 6.67929L49.9993 10.8073L46.655 8.25606L43.3107 10.8073L44.5881 6.67929L41.2438 4.12803L45.3776 4.12803L46.655 0Z' fill='#74B6C7')
  path(d='M60.3103 0L61.5877 4.12803L65.7214 4.12803L62.3771 6.67929L63.6546 10.8073L60.3103 8.25606L56.966 10.8073L58.2434 6.67929L54.8991 4.12803L59.0329 4.12803L60.3103 0Z' fill='#74B6C7')

