doctype html
html(lang="en")

   include modules/head.pug

   body.index-page 
      include modules/navbar.pug
      include modules/header.pug
      include modules/section-images.pug
      include modules/section-duo.pug
      include modules/section-products.pug
      include modules/newslater.pug
      include modules/slider.pug
      include modules/section-duo2.pug
      include modules/newslater2.pug
      include modules/footer.pug

      include modules/scripts.pug