section.footer.py-3

    .container 

        .row.justify-content-between.gap-5

            .content.col-lg-5.col-sm-12.align-self-center.text-lg-start.text-center
                a(href="#")
                    include ../svg/logo.pug
                p.my-3 We are a small and dedicated team of Combustion, Vaporization & 420 culture enthusiasts.
                p.mb-3 We test all of our products (purely for research purposes) thus ensuring you get the best possible advice, service and products.

                a.d-flex.align-items-center.justify-content-lg-start.justify-content-center.flex-lg-row.flex-column(href="mailto:info@afriendindeedstore.com")
                    i.mb-lg-0.mb-3
                        include ../svg/email-white.pug
                    span.ms-2 info@afriendindeedstore.com        

                .d-flex.align-items-center.justify-content-lg-start.justify-content-center.mt-4
                    a.me-3(href="#" target="_blank")
                        i 
                            include ../svg/twitter.pug
                    a.me-3(href="#" target="_blank")
                        i 
                            include ../svg/facebook.pug
                    a.me-3(href="#" target="_blank")
                        i 
                            include ../svg/linkedin.pug
                    a(href="#" target="_blank")
                        i 
                            include ../svg/pinterest.pug

           

            ul.content.col-lg-5.col-sm-12.text-lg-start.text-center
                li.content-item
                    h6 SUBSCRIBE AND GET A 15% OFF
                li.content-item.d-flex.align-items-center.justify-content-lg-start.justify-content-center.flex-lg-row.flex-column
                    i.mb-lg-0.mb-3.me-2
                        include ../svg/local.pug

                    p.text-lg-start.text-center
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                
                        
                      
                li.map.content-item
                    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3147.8920907500265!2d145.24216151485152!3d-37.90958487973512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad63dea4ec2cb27%3A0xd951657e4437a816!2sA%20Friend%20Indeed%20Australia!5e0!3m2!1sru!2sru!4v1654534570234!5m2!1sru!2sru' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
                li.content-item
                    span.fw-bold COME TO THE STORE!

    .container 
        hr
        
    .container 
        p.text-center © 2022 A Friend Indeed Australia. All prices in AUD. Designed by Empyre. Powered by Shopify.    

