header.page-header

    .page-header-image

    .container

        .row
        
            .container-brand.col-lg-6.col-md-7.col-12.text-center.text-lg-start.pb-lg-0.pb-2
                p TAGLINE HERE
                h1 what e-cig is best for me?
                h2 FIND OUT!
                h3 Take our quick quiz to learn which type of vape is best suited to your preferences.

                button
                    span ADD TO CART