section.newslater.newslater2

    .bg-discount

    .container 

        .row
            .container-center
                h2 NEWSLETTER
                p Join our newsletter to get exclusive contents, offers, services and first access to products.

                form.form-inline.d-flex.align-items-center.col-9.mx-auto
                
                    .form-group.d-flex.align-items-center.mx-sm-1(style="width: 100%;")
                        label.sr-only(for='inputSearch')
                        input#inputSearch.form-control(type='search' placeholder='Your email address here')
                        
                    .button-global 
                        button.btn(type='submit') 
                            span SUBMIT