section.section-images 

    .container 

        .row.justify-content-between.gap-lg-0

            .col-sm-12.col-lg-3.d-flex.align-items-center.justify-content-center.flex-lg-row.flex-column
                i.me-ms-0.me-lg-2.mb-lg-0.mb-3
                    include ../svg/car.pug
                .flex-column.text-lg-start.text-center
                    h2 Free Shipping
                    h3 on all orders above 50    

            .col-sm-12.col-lg-3.d-flex.align-items-center.justify-content-center.mt-lg-0.mt-5.flex-lg-row.flex-column
                i.me-ms-0.me-lg-2.mb-lg-0.mb-3
                    include ../svg/arrow.pug
                .flex-column.text-lg-start.text-center 
                    h2 Easy Returns
                    h3 Learn more   

            .col-sm-12.col-lg-3.d-flex.align-items-center.justify-content-center.mt-lg-0.mt-5.flex-lg-row.flex-column
                i.me-ms-0.me-lg-2.mb-lg-0.mb-3
                    include ../svg/shell.pug
                .flex-column.text-lg-start.text-center 
                    h2 Secure Shopping
                    h3 Find out more   
                    
        .row.justify-content-center
            .col-lg-6.col-ms-12.text-center 
                h2 FROM THE BEST BRANDS 

        .row.align-items-center.justify-content-lg-between.justify-content-center.gap-lg-0.gap-sm-5

            
            picture.col-sm-12.col-md-4.text-center
                img.img-fluid.img-thumbnail(src='img/mathematix.png' alt='logo')

            
            picture.col-sm-12.col-md-4.text-center
                img.img-fluid.img-thumbnail(src='img/chameleon.png' alt='logo')

            
            picture.col-sm-12.col-md-4.text-center
                img.img-fluid.img-thumbnail(src='img/e-cig.png' alt='logo')   