section.products

    .container 

        .nav.justify-content-center
            button(autofocus)
                span LATEST PRODUCTS
            button 
                span TOP RATING
            button 
                span ON SALE

section.products-grid

    .container 

        .row

            .card-product.d-flex.flex-column.align-items-center.justify-content-between.col-lg-3.col-md-4.col-sm-6

                .discount.d-flex.justify-content-between
                    span -10%
                    span New
            
                .card-product-image
                    img.card-img-top(src="img/bag.png" alt="product")
            
                .d-flex.flex-column.align-items-center.gap-2
            
                    .text-center    
                        h2 Avert Odour Absorbing Backpack 27L
            
                    .stars 
                        include ../svg/stars.pug
            
                    .cost.d-flex.align-items-center
                        span $100.00
                        span $150.00
           
            .card-product.d-flex.flex-column.align-items-center.justify-content-between.col-lg-3.col-md-4.col-sm-6

                .discount.d-flex.justify-content-between 
                    span -10%
                    span New
            
                .card-product-image
                    img.card-img-top(src="img/travel-bag.png" alt="product")
            
                .d-flex.flex-column.align-items-center.gap-2
            
                    .text-center    
                        h2 Avert Odour Absorbing Travel Bag 5.5L
            
                    .stars 
                        include ../svg/stars.pug
            
                    .cost.d-flex.align-items-center
                        span $100.00
                        span $150.00
          
            .card-product.d-flex.flex-column.align-items-center.justify-content-between.col-lg-3.col-md-4.col-sm-6

                .discount.d-flex.justify-content-between 
                    span -10%
                    span New
            
                .card-product-image
                    img.card-img-top(src="img/jamaica-hand.png" alt="product")
            
                .d-flex.flex-column.align-items-center.gap-2
            
                    .text-center    
                        h2 Clipper Lighter Hello Jamaica Hand Sewn Pop Cover Large
            
                    .stars 
                        include ../svg/stars.pug
            
                    .cost.d-flex.align-items-center
                        span $100.00
                        span $150.00
           
            .card-product.d-flex.flex-column.align-items-center.justify-content-between.col-lg-3.col-md-4.col-sm-6

                .discount.d-flex.justify-content-between 
                    span -10%
                    span New
            
                .card-product-image
                    img.card-img-top(src="img/metal-leaves.png" alt="product")
            
                .d-flex.flex-column.align-items-center.gap-2
            
                    .text-center    
                        h2 Clipper Lighter Metal Leaves Pattern
            
                    .stars 
                        include ../svg/stars.pug
            
                    .cost.d-flex.align-items-center
                        span $100.00
                        span $150.00
           
            .card-product.d-flex.flex-column.align-items-center.justify-content-between.col-lg-3.col-md-4.col-sm-6

                .discount.d-flex.justify-content-between 
                    span -10%
                    span New
            
                .card-product-image
                    img.card-img-top(src="img/clipper-lighter.png" alt="product")
            
                .d-flex.flex-column.align-items-center.gap-2
            
                    .text-center    
                        h2 Clipper Lighter Unicorn World Hand Sewn Pop Cover Large
            
                    .stars 
                        include ../svg/stars.pug
            
                    .cost.d-flex.align-items-center
                        span $100.00
                        span $150.00
           
            .card-product.d-flex.flex-column.align-items-center.justify-content-between.col-lg-3.col-md-4.col-sm-6

                .discount.d-flex.justify-content-between 
                    span -10%
                    span New
            
                .card-product-image
                    img.card-img-top(src="img/universal-male.png" alt="product")
            
                .d-flex.flex-column.align-items-center.gap-2
            
                    .text-center    
                        h2 Crafty/Mighty Universal Male Waterpipe Adapter
            
                    .stars 
                        include ../svg/stars.pug
            
                    .cost.d-flex.align-items-center
                        span $100.00
                        span $150.00
           
            .card-product.d-flex.flex-column.align-items-center.justify-content-between.col-lg-3.col-md-4.col-sm-6

                .discount.d-flex.justify-content-between 
                    span -10%
                    span New
            
                .card-product-image
                    img.card-img-top(src="img/hand-grider.png" alt="product")
            
                .d-flex.flex-column.align-items-center.gap-2
            
                    .text-center    
                        h2 GrindeROO 63mm 4 piece Premium Metal Hand Grinder
            
                    .stars 
                        include ../svg/stars.pug
            
                    .cost.d-flex.align-items-center
                        span $100.00
                        span $150.00
           
            .card-product.d-flex.flex-column.align-items-center.justify-content-between.col-lg-3.col-md-4.col-sm-6

                .discount.d-flex.justify-content-between 
                    span -10%
                    span New
            
                .card-product-image
                    img.card-img-top(src="img/raw.png" alt="product")
            
                .d-flex.flex-column.align-items-center.gap-2
            
                    .text-center    
                        h2 RAW Challenge Cone 60cm Pre-Roll
            
                    .stars 
                        include ../svg/stars.pug
            
                    .cost.d-flex.align-items-center
                        span $100.00
                        span $150.00

        .button-global.d-flex.justify-content-center
            button.btn
                span VIEW ALL PRODUCTS