section.duo2

    .duo2-image
    .duo2-image

    .container

        .row.justify-content-lg-end.justify-content-center

            .col-lg-5.col-sm-12.text-lg-start.text-center

                h2 Buy Vapourizers from Australia’s Number One Vape Shop
                p Our products, whilst maintaining affordability, are uniquely innovative and proven to be of the highest efficiency to enhance your experience. Feel free to get in touch with our experienced team of staff to discuss our product range.    
                
                .button-global.d-flex.justify-content-lg-start.justify-content-center
                    button.btn
                        span READ MORE

section.duo2.duo2-2

    .duo2-image
    .duo2-image

    .container

        .row.justify-content-lg-start.justify-content-center

            .col-lg-5.col-sm-12.text-lg-end.text-center

                h2 Our Range of Vape and 420 Science Products
                p At A Friend Indeed, we are serious about selecting only the highest grade products for purchase from our online store. Feel free to browse our extensive range of products.    
                
                .button-global.d-flex.justify-content-lg-start.justify-content-center
                    button.btn
                        span READ MORE