section.section-duo 

    .container

        .row.justify-content-lg-between.justify-content-sm-center.align-items-center

            .col-lg-4.col-sm-12 
                h3.text-center DEALS OF THE DAY
           
        .row-discount.row
           
            picture.col-lg-6.col-sm-12.d-flex.justify-content-center
                img.img-fluid.img-thumbnail(src='img/vape.png' alt='deals')

            .card-discount-border.col-lg-6.col-sm-12.d-flex.justify-content-center

                .card-discount

                    .col-8.d-flex.flex-column.align-items-center.mx-auto
                        h2 Yocan Orbit Terp Pearl Wax Pen
                        i 
                            include ../svg/stars.pug

                        .d-flex.align-items-center
                            span $99.95    
                            span $120.00

                    p.col-10.mx-auto
                        | The Yocan name has become synonymous with concentrate vapes and continues to revolutionize the vaping industry. For years Yocan has always been the go-to for affordable and reliable wax pens and oil vaporizers allowing many consumers to enjoy and experience the latest innovations in vaping without breaking the bank.
        
                    .d-flex.align-items-center.justify-content-center(style="margin-top: 1.688rem;")

                        .timer
                            .timer-cell.d-flex.align-items-center.justify-content-center
                                span 02
                            .timer-date.text-center   
                                span Days

                        .dots
                            include ../svg/dots.pug         

                        .timer
                            .timer-cell.d-flex.align-items-center.justify-content-center
                                span 17
                            .timer-date.text-center   
                                span Hours

                        .dots 
                            include ../svg/dots.pug         

                        .timer
                            .timer-cell.d-flex.align-items-center.justify-content-center 
                                span 46
                            .timer-date.text-center   
                                span Min

                        .dots 
                            include ../svg/dots.pug         

                        .timer
                            .timer-cell.d-flex.align-items-center.justify-content-center
                                span 10
                            .timer-date.text-center
                                span Sec
                
                    .button-global.d-flex.justify-content-center(style="margin-top:1.563rem;")
                        button.btn
                            span ADD TO CART