section.slider

    .container

        .col-10.mx-auto
            h2 RELATED PRODUCTS
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit nean commodo ligula eget dolor. Cum sociis Theme natoque penatibus et magnis dis.

    .container
        .sliders.d-flex.align-items-center
        
            .card-product.d-flex.flex-column.align-items-center.justify-content-between.col-3

                    .discount.d-flex.justify-content-between 
                
                    .card-product-image
                        img.card-img-top(src="img/hand-grider.png" alt="product")
                
                    .d-flex.flex-column.align-items-center.gap-2
                
                        .text-center    
                            h2 GrindeROO 63mm 4 piece Premium Metal Hand Grinder
                
                        .stars 
                            include ../svg/stars.pug
                
                        .cost.d-flex.align-items-center
                            span $100.00
                            span $150.00
            
            .card-product.d-flex.flex-column.align-items-center.justify-content-between.col-3

                    .discount.d-flex.justify-content-between 
                
                    .card-product-image
                        img.card-img-top(src="img/raw.png" alt="product")
                
                    .d-flex.flex-column.align-items-center.gap-2
                
                        .text-center    
                            h2 RAW Challenge Cone 60cm Pre-Roll
                
                        .stars 
                            include ../svg/stars.pug
                
                        .cost.d-flex.align-items-center
                            span $100.00
                            span $150.00
        
            .card-product.d-flex.flex-column.align-items-center.justify-content-between.col-3

                    .discount.d-flex.justify-content-between 
                
                    .card-product-image
                        img.card-img-top(src="img/clipper-lighter.png" alt="product")
                
                    .d-flex.flex-column.align-items-center.gap-2
                
                        .text-center    
                            h2 Clipper Lighter Unicorn World Hand Sewn Pop Cover Large
                
                        .stars 
                            include ../svg/stars.pug
                
                        .cost.d-flex.align-items-center
                            span $100.00
                            span $150.00
        
            .card-product.d-flex.flex-column.align-items-center.justify-content-between.col-3

                    .discount.d-flex.justify-content-between 
                
                    .card-product-image
                        img.card-img-top(src="img/universal-male.png" alt="product")
                
                    .d-flex.flex-column.align-items-center.gap-2
                
                        .text-center    
                            h2 Crafty/Mighty Universal Male Waterpipe Adapter
                
                        .stars 
                            include ../svg/stars.pug
                
                        .cost.d-flex.align-items-center
                            span $100.00
                            span $150.00
        
            .card-product.d-flex.flex-column.align-items-center.justify-content-between.col-3

                .discount.d-flex.justify-content-between 
            
                .card-product-image
                    img.card-img-top(src="img/bag.png" alt="product")
            
                .d-flex.flex-column.align-items-center.gap-2
            
                    .text-center    
                        h2 Avert Odour Absorbing Backpack 27L
            
                    .stars 
                        include ../svg/stars.pug
            
                    .cost.d-flex.align-items-center
                        span $100.00
                        span $150.00